In [1]:
i=1
while(i<6):
   print(i)
   i=i+1

1
2
3
4
5

In [3]:
n=int(input("Enter the last number:"))
i=1
sum=0
while(i<=n):
   sum=sum+i
   i=i+1
print("Sum of natural numbers:",sum)

Enter the last number: 5

Sum of natural numbers: 15

In [5]:
i=1
while(i<6):
   print(i)
   if(i==3):
    break
   i=i+1

1
2
3

In [7]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [9]:
#else Statement:else statement  can run a block of code once when the condition no longer is true


     

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [11]:
# For Loop:A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string
     

cars=['Ford','Audi','Maruti']
for i in cars:
    print(i)

Ford
Audi
Maruti

In [13]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [15]:
for i in range(2,6):
    print(i)

2
3
4
5

In [17]:
for i in range(1,5):
    print(i)

1
2
3
4

In [19]:
#The range() function defaults to increment the sequence by 1,
# however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3)
     

for i in range(2,30,3):
     print(i)

2
5
8
11
14
17
20
23
26
29

In [21]:
# Else Keyword: else keyword in a for loop specifies a block of code to be executed when the loop is finished
     

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [23]:


for x in range(6):
  if x == 3:
    break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [25]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry