In [1]:
set1={1,2,3,4,5,6}
     

print(set1)

{1, 2, 3, 4, 5, 6}

In [3]:
#Access Set Items
print(4 in set1)

True

In [5]:
print(8 in set1)

False

In [7]:
print(8 not in set1)

True

In [9]:
#Add Set Items

set1.add(9)
     

set1

{1, 2, 3, 4, 5, 6, 9}

In [11]:
# To add items from another set into the current set, use the update() method
set2={10,11,12}

In [13]:
print(set2)

{10, 11, 12}

In [15]:
set1.update(set2)
     

set1

{1, 2, 3, 4, 5, 6, 9, 10, 11, 12}

In [21]:
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.

list3=["A","B","C"]

In [23]:
# Remove Set Items

set1.remove(12)

In [25]:
set1

{1, 2, 3, 4, 5, 6, 9, 10, 11}

In [27]:
set1.discard(11)
     

set1

{1, 2, 3, 4, 5, 6, 9, 10}

In [29]:

set1.pop()

1

In [31]:
set2={1,2}
     

set2.clear()
     

set2

set()

In [33]:
# Difference Between Remove & Discard
     

set1={1,2,3,4,5,6}
set1.remove(101)

KeyError: 101

In [35]:
#Union Method
set1= {"x","y","z"}
set2={6,7,8}
set3=set1.union(set2)
print(set3)

{'x', 'z', 6, 7, 8, 'y'}

In [37]:
#Join mutiple sets
set1= {"x","y","z"}
set2={6,7,8}
set3={'Motu','Patlu'}
set4={'King','Kong'}
largeset=set1.union(set2,set3,set4)
print(largeset)

{'x', 'z', 6, 7, 8, 'King', 'Kong', 'Patlu', 'Motu', 'y'}

In [39]:
set1= {"x","y","z"}
set2={6,7,8}
set3={'Motu','Patlu'}
set4={'King','Kong'}
largeset=set1 |set2 |set3 |set4
print(largeset)

{'x', 'z', 6, 7, 8, 'King', 'Kong', 'Patlu', 'Motu', 'y'}

In [41]:
#update Method
set1= {"x","y","z"}
set2={6,7,8}
set1.update(set2)
print(set1)

{'x', 'z', 6, 7, 8, 'y'}

In [43]:
#intersection method
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set1.intersection(set2)
print(set3)

{'x'}

In [45]:
# & operator
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set1 & set2
print(set3)

{'x'}

In [47]:
# difference method
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set1.difference(set2)
print(set3)

{'y', 'z'}

In [49]:
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set2.difference(set1)
print(set3)

{8, 6, 7}