In [1]:
print("Hello World")

Hello World

In [3]:
a='Hello World'

In [5]:
print(len(a))

11

In [7]:
b='Hello, World!'

In [9]:
print(b[2:5])

llo

In [11]:
b = "Hello, World!"
print(b[:5])

Hello

In [13]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [15]:
b = "Hello, World!"
print(b[-5:-2])

orl

##Modify Strings
#Python has a set of built-in methods that you can use on strings.

In [18]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [20]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [22]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"#strip() method removes any whitespace from the beginning or the end.

Hello, World!

##String Concatenation
#To concatenate, or combine, two strings you can use the + operator

In [25]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [27]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [29]:
#we cannot combine strings and numbers like this:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [31]:
#we can combine strings and numbers by using the format() method!
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [33]:
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [35]:
#The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."

In [39]:
print(txt)

We are the so-called "Vikings" from the north.

In [41]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [43]:
#The first character is converted to upper case, and the rest are converted to lower case:

txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

##The count() method returns the number of times a specified value appears in the string.

In [46]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

## string.count(value, start, end)
# Search from position 10 to 24

In [49]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

In [51]:
# Where in the text is the word "welcome"?

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [53]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [55]:
#Check if all the characters in the text are letters:

txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [57]:
#Check if all the characters in the text are digits:

txt = "50800"

x = txt.isdigit()

print(x)

True

In [59]:
#Remove spaces to the left of the string:

txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [61]:
#rstrip() Method
#Remove any white spaces at the end of the string

txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [63]:
#Split the string, using comma, followed by a space, as a separator:

txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']